@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body,
html {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 100%;

  background-color: #1b1a17;
}

* {
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.container {
  width: 60%;
  margin-top: 5rem;
  margin-bottom: 5rem;

  position: relative;

  border-radius: 0.5rem;
  overflow: hidden;

  background-color: #1b1a17;
  box-shadow: 0 0 3rem rgba(255, 255, 255, 0.1);
}

header {
  text-align: center;
  padding: 3rem;
}

header h1 {
  margin: 0;
  margin-top: 2rem;
  font-size: 5rem;
  text-decoration: underline;
}

.pres h3 {
  margin: 3rem;
  font-size: 2rem;
}

.title {
  color: #bea57d;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 0 2rem rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  width: 20rem;
  height: 20rem;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.card2 {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.card3 {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.card4 {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

.card5 {
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}

.card6 {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.card7 {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

.card8 {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.card9 {
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
}

.card10 {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
}

.card11 {
  background: linear-gradient(to right, #f3a8d2, #ba18b9);
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  header h1 {
    font-size: 2.5rem;
  }

  .pres h3 {
    font-size: 1.5rem;
  }
}
